


<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head> 















<div  class="main">
    <div class="row">

        <div class="col-md-8   col-sm-8  ">
          <div class="panel panel-default">
            <div id="vrbar">
                <div id="hrbar">

            <table class="table">
             <thead>
                 <tr>
                  <th><span class="text">InvGroupId</span></th>
                  <th><span class="text">InvGroupName</span></th>
                  <th><span class="text">Alias</span></th>
                  <th><span class="text">SortOrder</span></th>
                  <th><span class="text">Edit/Delete</span></th>
                </tr>
            </thead>
                 
            <tbody>
                


                        <tr  *ngFor ="let invgroup of inventorytype" >
               
                                <td >{{invgroup.InvGroupId}}</td>
                                <td >{{invgroup.InvGroupName}}</td>
                                <td >{{invgroup.Alias}}</td>
                                <td >{{invgroup.SortOrder}}</td>

                                <td> 
                                   <button  (click)="invEdit(invgroup)"  type="button" class="btn btn-info btn-sm" >
                                       <span class="glyphicon glyphicon-edit"></span>  
                                     </button>          
                                         
                             
                               <button (click)="invDelete(invgroup)" type="button" class="btn btn-info btn-sm" >
                                 <span class="glyphicon glyphicon-trash"></span>  
                               </button>          
                                   
                              
               
                             </td>
                              
                              </tr>



                
                  
              
    

            </tbody>




            </table> 
            </div>
            </div>
        
            </div>
            </div>
            

    

    
        <div class="col-md-4   col-sm-4">

            <form>


                 <div class="sale">
                                
                     <label for="invid">InvGroupId:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                     <input [(ngModel)]="groupid" name="groupid"  type="text" id="invid"><br><br>
    
    
                                     
                                
    
                                 
                     <label for="srt">InvGroupName:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input [(ngModel)]="sort" name="sort" type="text" id="srt" ><br><br>
                                
    
                     
                    <label for="invname">Alias:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                     <input [(ngModel)]="groupname" name="groupname" type="text" id="invname" ><br><br>
                             
                        
                    <label for="lias">SortOrder:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input [(ngModel)]="alias" name="alias" type="text" id="lias" >
                            
                                           
                            
    
                    </div>
                          
                     </form>
                     
                     <div class="button1">

                            <button  style= "margin:5px" type="button" class="btn btn-primary" >New</button> 
    
                            <button  (click)=invGroup(groupid,sort,groupname,alias) style="margin:5px" *ngIf= "invgroupEdit==false" type="button" class="btn btn-success"  >Save</button>
    
                            <button style="margin:5px" type="button" class="btn btn-danger" *ngIf="invgroupEdit!=false" (click)=invUpdate(groupid,sort,groupname,alias) >Update</button>

                            <button style="margin:5px" type="button" class="btn btn-warning"  >Cancel</button>
             
                     </div>
             
                
            
    </div>
    </div>
    
    
</div>