<div class="main">

 
    <div class="container"> 
      <span>Purchase History</span>
      
    <a  [routerLink] = "['/NEWPurchase']">  <button type="button" class="btn btn-success" style="margin-left: 70%;" >+  New</button></a>
    <table class="table">
      <thead>
        <tr>
          <th>Order No</th>
          <th>Item Name</th>
          <th>No.Items</th>
          <th>Total</th>
          <th>vendor Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Idli</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td>
          <td>Manufactured</td>
          <td>Manufactured</td>
           
        </tr>
        <tr>
          <td>Doasa</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td>
          <td>Manufactured</td>
          <td>Manufactured</td>
        </tr>
        <tr>
          <td>Tea</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td>
          <td>Manufactured</td> 
        </tr>
      </tbody> 
    </table>
    </div>
    
  </div>
  
 
