 

    .main {
    margin-left: 180px; 
<<<<<<< HEAD
    font-size: 28px;  
=======
    font-size: 20px;  
>>>>>>> 06060b1a0c18b79b36b2ad15de693bbe8e829132
   
    margin-top:-600px;
    height:92%;

 
}
 